<html lang="en">

<head >
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">    
        <title>Home </title>
    
</head>
<body style="background-color:white; margin:0;padding:0;">
    <div class="container-fluid "  style="height:250px; background-image:url(./image/globe.gif)">
    <br><br><br>
    
        <h1 class="text-center text-light" style="font-size: 70px; font-family: fantasy;">Indore Union Bank</h1>         
    </div>
    <nav class="navbar navbar-expand-lg navbar-dark " style="background-color:black;">
        <div class="container-fluid " style="background-color:black;">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0" >
                    <li class="nav-item">
                        <a class="nav-link active text-light text-lg-center" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" href="/admin">Manager Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" href="/user">User Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" href="#">Contact us</a>
                    </li>
                  
                  
            </div>
        </div>
    </nav>
    <marquee direction="left" >
        <div class="container bg-info">
          <h2 class="text-center">Education Loan at 12%  Housing loan at 6.5%</h2>
        </div>
    </marquee>
    <div class="container my-4">
        <div class="row">
            <div class="col-sm">
                <div style="width: 18rem;">
                    <img src="./image/globe_10.gif" class="card-img-top " alt="..." style="width: 200px; height: 200px;">
                    <div class="card-body">
                        <h5 class="card-title">
                            Welcome
                        </h5>
                        <p class="card-text">Each people plan their site layouts depending upon their business type.
                             Here comes a free designer template which provides you with a selection of different kinds of webdesign starting from business template, fashion template etc.</p>
                       
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div style="width: 18rem;">
                    <img src="./image/opportunities.png" class="card-img-top " alt="..." style="width: 200px; height: 200px;">
                    <div class="card-body">
                        <h5 class="card-title">
                            Opportunities
                        </h5>
                        <p class="card-text">
                            These Global Business bank would be idle for building a successful online businesses. Download the required HTML template, install it and edit the existing content with your original text.
                        </p>
                    
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div style="width: 18rem;">
                    <img src="./image/results.png" class="card-img-top " alt="..." style="width: 200px; height: 200px;">
                    <div class="card-body">
                        <h5 class="card-title">
                            Results
                        </h5>
                        <p class="card-text">
                            This is Global Business bank which is under business and finance category for your website design. Freedesignertemplates.com is a free collection of site templates with HTML layouts which are frequently updated.
                        </p>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    







    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js" integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous"></script>

</body>    

</html>