<html>
 <head>
     <title>Home </title>
 </head>  
<body>
    <br><br><br>
    <center>
        <h1>APNA BANK </h1>
      <br><br><br>
      <form action="/admin" method="GET">
          <button>Admin Login</button>
      </form><br>
     <form action="/user" method="GET">
         <button>User Login</button>
     </form>



    </center>

</body>
</html>